header {
    position: sticky;
    top: 0;
    left: 0;
}
.header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    z-index: 100;
    background-color: #FDF7FA;
}