@import url(./header.css);
@import url(./menu.css);
@import url(./carousel.css);
@import url(./styleguide.css);
@import url(./footer.css);
@import url(./home.css);

@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Sometype+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}
img, video {
    max-width: 100%;
    height: auto;
}
body {
    background-color: var(--main-white);
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
    color: var(--main-black);
}
h1 {
    font-family: var(--h1-font-family);
    font-size: var(--h1-font-size);
    letter-spacing: var(--h1-letter-spacing);
}
h2 {
    font-family: var(--h2-font-family);
    font-weight: var(--h2-font-weight);
    font-size: var(--h2-font-size);
    letter-spacing: var(--h2-letter-spacing);
}
h3 {
    font-family: var(--h3-font-family);
    font-weight: var(--h3-font-weight);
    font-size: var(--h3-font-size);
    letter-spacing: var(--h3-letter-spacing);
}